* {
  background-color: burlywood;
}

header {
  text-align: center;
  font-size: 3rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#verdict-container > p {
  margin: 1vh 1vw;
  font-size: 2rem;
}

#grid-container {
  display: grid;
  width: 60vmin;
  height: 60vmin;
  gap: 1vmin;
  text-align: center;
  padding: 2vmin;
  background-color: darkgoldenrod;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background-color: #a15804;
}

.green {
  background-color: green;
}

button {
  background-color: beige;
  width: 15vw;
  height: auto;
  margin: 1.5vh 1vw;
  padding: 1.5vh 1.5vw;
  border-radius: 10px;
}

.reset {
  margin-top: 2vh;
}

.user-input {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
}