body {
  background-color: burlywood;
  font-family: 'Quicksand', sans-serif;
}

header {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: normal;
}

#verdict-container > p {
  font-weight: bold;
  margin: 1vh 1vw;
  font-size: 2rem;
}

#grid-container {
  display: grid;
  width: 60vmin;
  height: 60vmin;
  gap: 1vmin;
  text-align: center;
  padding: 2vmin;
  background-color: darkgoldenrod;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background-color: #a15804;
}

.grid-item:not(.disabled):hover {
  background-color: #b26915;
}

.green {
  background-color: green;
}

button {
  background-color: wheat;
  width: 15vw;
  height: auto;
  margin: 1.5vh 1vw;
  padding: 1.5vh 1.5vw;
  border-radius: 10px;
}

.active {
  background-color: rgb(252, 162, 28);
  color: white;
}

.reset {
  margin-top: 2vh;
}

.blue {
  color: #00cccc;
}

.yellow {
  color: #ffd76b;
}

#user-input {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
}

#reset-container {
  text-align: center;
}

input {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
}

footer {
  height: 10vh;
}