* {
  background-color: burlywood;
}

header {
  text-align: center;
  font-size: 3rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#verdict-container {
  font-size: 2rem;
}

#grid-container {
  display: grid;
  width: 60vmin;
  height: 60vmin;
  gap: 1vmin;
  text-align: center;
  padding: 2vmin;
  background-color: darkgoldenrod;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background-color: #a15804;
}

.green {
  background-color: green;
}

button {
  background-color: beige;
  margin: 3vmax;
  padding: 2vmax;
  border-radius: 10px;
}